html,body {
  margin: 0 auto;
}


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  margin:0;
  padding:10px;
}

.navbar-child-logo > img {
  width: 75px;
}

.top-nav-bar > li {
  display: inline-block;
  margin: 15px;
  font-size: 20px;
}

.top-nav-bar > li > a {
  color:white;
}

.main-container {
  display:block;
  text-align: center;
  margin:0;
  padding:100px;
  background-color: black;
}

.main-container > h2 {
  font-size:48px;
  margin:15px;
  color:white;
}

.main-container > p {
  font-size: 32px;
  margin:20;
  color:white;
}

.about-button {
  padding: 10px 15px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  margin: 10px;
  display: inline-block;
  text-transform: uppercase;
}

.section {
  width:100%;
  margin: 50px 0;
}

.section-container {
  width:90%;
  margin:0 auto;
}

.section-container > h2 {
  display: inline-block;
  margin-bottom: 35px;
  padding-bottom: 15px;
  padding-right: 50px;
  font-size: 40px;
  line-height: 40px;
  border-bottom: 11px solid #2da2c8;
}

.alt {
  background-color: #f8f8f8;
}

.skills-container {
  display:flex;
  flex-wrap:wrap;
}

.skill {
  flex-grow : 1;
  flex-basis: 0;
  margin: 15px;
}

.skill > h2 {
  border-bottom: 8px solid #2da2c8;
  display: inline-block;
}
